body{
    margin: 0;
    width: 100vw;
}

.footer{
    background-color: rgb(78, 78, 94);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(231, 223, 223); 
    padding: 3em 8em;  
}

.footer .footer-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.footer a{
    color: rgb(17, 147, 187);  
}

.footer-list a{
    margin-right: 3em;
    margin-bottom: 1em;
}

p{
    text-align: center;
}

a:hover{
    color: rgb(231, 223, 223); 
}