body{
    margin: 0;
    width: 100vw;
}

.footer{
    background-color: rgb(78, 78, 94);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(231, 223, 223);   
}

.footer .footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer a{
    color: rgb(17, 147, 187);
}

p{
    text-align: center;
}

a:hover{
    color: rgb(231, 223, 223); 
}