body{
    margin: 0;
}

.home{
    padding: 2em 2em;
    margin: 0 5em;
}

.shop{
    display: flex;
    justify-content: flex-start;
    
}

.shop p{
    text-align: start;
    font-size: 3em;
}

img{
    width: 100%;   
}


.shop p span{
    font-size: 1.5rem;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: 1200px){
        flex-direction: row;
        justify-content: space-between;
    }
}

.info p{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.info span{
    font-size: 1.5rem;
}

